@keyframes shine {
    100% {
        background-position: 500% 0,0 0,0 0,0 100%,0 4px,0 calc(100% - 4px)
    }

    20% {
        background-position: 200% 0,0 0,0 0,0 100%,0 4px,0 calc(100% - 4px)
    }

    0% {
        background-position: -200% 0,0 0,0 0,0 100%,0 4px,0 calc(100% - 4px)
    }
}

@keyframes scrolldown {
    100% {
        bottom: 60px
    }

    0% {
        bottom: 70px
    }
}