.advantages {
    padding: 100px 0;
    &__wrapper {
        position: relative;
        margin-top: 70px;
    }
}

.row {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, minmax(30px,1fr));
    border-bottom: 1px dashed #ccc;
    &::after {
        position: absolute;
        content: "";
        width: 13px;
        height: 13px;
        background: #fff;
        left: 24.5%;
        bottom: -7px;
        z-index: 15;
    }
}

.col {
    display: flex;
    height: 90px;
    align-items: center;
    text-align: center;
    justify-content: center;
    &__row-1 {
        border-bottom: 1px solid #2f631a;
        height: 100px;
    }
    &__fz29 {
        font-size: 29px;
    }
    &__fz20 {
        font-size: 20px;
    }
    &__fz18 {
        font-size: 18px;
    }
    &__col-1 {
        font-size: 20px;
        text-align: left;
        justify-content: left;
        padding-left: 10px;
        border-right: 1px solid #2f631a;
    }
    img {
        height: 50%;
    }
}

