.button {
    position: relative;
    display: block;
    color: #fff;
    border-radius: 30px;
    font-size: 19px;
    line-height: 19px;
    background-color: #2f631a;
    z-index: 3;
    cursor: pointer;
    border: 0;
    padding: 20px 40px;
    text-align: center;

    background-size: 200% 100%,auto,100% 2px,100% 2px,100% 1px,100% 1px;
    background-image: linear-gradient(45deg,rgba(255,255,255,.0) 30%,rgba(255,255,255,.8),rgba(255,255,255,.0) 70%);
    background-repeat: no-repeat;
    background-position: -200% 0,0 0,0 0,0 100%,0 4px,0 calc(100% - 4px);
    animation: shine 5s ease reverse infinite;
    box-shadow: 0 9px 40px 0 rgba(50,50,50,0.30);
    
    &:hover {
        background-color: #114500;
    }
    &__plan {
        margin: 60px auto 0 auto;
    }
    &__connection {
        margin: 15px 0 0 0;
    }
    
}